<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <thead>
        <th>Flavor</th>
        <th>Size</th>
        <th>Rating</th>
        <th>Image</th>
      </thead>
      <tbody id="table-body"> </tbody>
    </table>
    <form class="add-cupcake">
      <label for="flavor">Flavor</label>
      <input type="text" name="flavor" id="flavor" required />
      <label for="size">Size</label>
      <input type="text" name="size" id="size" required />
      <label for="rating">Rating</label>
      <input type="text" name="rating" id="rating" required />
      <label for="image">Image Url</label>
      <input type="URL" name="image" id="image" />
      <button type="submit">Submit</button>
    </form>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/cupcakes.js"></script>
  </body>
</html>
